{{#each moods as |mood|}}
  {{log mood}}
  <section data-id="{{mood.id}}" class="mood">
    <ul>
      {{#each mood.keys as |mood-key|}}
      {{#if mood-key}}
        <li>{{mood-key}}</li>
      {{else}}
        <p>No entry available</p>
      {{/if}}
    </ul>
    <p>{{mood.timestamps}}</p>
    <button class="btn btn-outline-danger" data-id="{{mood.id}}">Delete</button>
  </section>
{{/each}}
