{{#each moods as |mood|}}
  <section data-id={{mood.id}}>
    <h4>{{mood.mood}}</h4>
    <p>Posted on: {{date-time mood.created_at}}</p>
    <button class="update btn btn-outline-secondary" data-id="{{mood.id}}">update</button>
    <button class="delete btn btn-outline-danger" data-id="{{mood.id}}">delete</button>

    <form id="form{{mood.id}}" data-id="{{mood.id}}" class="form hidden">
      <fieldset class="container">
        <label for="update{{mood.id}}">Actually, I was feeling...</label>
        <select  id="update{{mood.id}}" form="form{{mood.id}}" name="mood[mood]" class="browser-default custom-select">
          <option value="happy">Happy</option>
          <option value="calm">Calm</option>
          <option value="sad">Sad</option>
          <option value="nervous">Nervous</option>
          <option value="motivated">Motivated</option>
          <option value="angry">Angry</option>
        </select>
      </fieldset>
      <input class="submit btn-outline-primary" type="submit">
    </form>

  </section>
{{/each}}
